<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.info.dao.confirmListMapper">
  <resultMap id="BaseResultMap" type="com.student.info.model.confirmList">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="STUDENTNO" jdbcType="VARCHAR" property="studentno" />
    <result column="ACADEMICYEAR" jdbcType="VARCHAR" property="academicyear" />
    <result column="TERM" jdbcType="VARCHAR" property="term" />
    <result column="TEACHERNO" jdbcType="VARCHAR" property="teacherno" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>