<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Mrs.Wang.project.dao.TeacherInfoMapper">
  <resultMap id="BaseResultMap" type="com.Mrs.Wang.project.model.TeacherInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="EMPLOY_NO" jdbcType="VARCHAR" property="employNo" />
    <result column="EMPLOY_NAME" jdbcType="VARCHAR" property="employName" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="TELNO" jdbcType="VARCHAR" property="telno" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="EDUCATION" jdbcType="VARCHAR" property="education" />
    <result column="DEGREE" jdbcType="VARCHAR" property="degree" />
    <result column="DUTY" jdbcType="VARCHAR" property="duty" />
    <result column="ACDEMICTITLE" jdbcType="VARCHAR" property="acdemictitle" />
    <result column="INVIGILATORFLAG" jdbcType="VARCHAR" property="invigilatorflag" />
    <result column="RESEARCHDIRECTION" jdbcType="VARCHAR" property="researchdirection" />
    <result column="MAJOR" jdbcType="VARCHAR" property="major" />
    <result column="GRADUATE" jdbcType="VARCHAR" property="graduate" />
    <result column="QUALIFICATIONFLAG" jdbcType="VARCHAR" property="qualificationflag" />
    <result column="JOBSTATUS" jdbcType="VARCHAR" property="jobstatus" />
    <result column="TEACHER_LEVEL" jdbcType="VARCHAR" property="teacherLevel" />
    <result column="ISLAB" jdbcType="VARCHAR" property="islab" />
    <result column="ISOUTHIRE" jdbcType="VARCHAR" property="isouthire" />
    <result column="POLITICALSTATUS" jdbcType="VARCHAR" property="politicalstatus" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PHOTOPATH" jdbcType="VARCHAR" property="photopath" />
    <result column="PARENT_ORG_ID" jdbcType="VARCHAR" property="parentOrgId" />
    <result column="INTRODUCE" jdbcType="LONGVARCHAR" property="introduce" />
  </resultMap>

  <select id="findByTeacherno" parameterType="String" resultMap="BaseResultMap">
    select *
    from t_teacherinfo
    where EMPLOY_NO = #{teacherno}
  </select>

</mapper>